@charset "UTF-8";
body {
  font-family: 'Roboto Slab', serif;
}
.tree,
.tree ul,
.tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}

.tree,
.tree ul {
    display: table;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}

.tree li:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree code,
.tree span {
    border: solid .1em #666;
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
    white-space: nowrap;
}

.tree ul:before,
.tree code:before,
.tree span:before {
    outline: solid 1px #666;
    content: "";
    height: .5em;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -.5em;
}

.tree code:before,
.tree span:before {
    top: -.55em;
}

.tree>li {
    margin-top: 0;
}

.tree>li:before,
.tree>li:after,
.tree>li>code:before,
.tree>li>span:before {
    outline: none;
}

.subgroups {
  background-color: #ADD8E6;
  cursor: pointer;
}
.groups, .rules {
  display: inline-block;
  border-radius: 4px;
  background-color: #87CEFA;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.groups span, .rules span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.groups span:after, .rules span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.groups:hover span, .rules:hover span {
  padding-right: 25px;
}

.groups:hover span:after, .rules:hover span:after {
  opacity: 1;
  right: 0;
}

.active_field {
  color: #FFFFFF;
  background-color: #1E90FF;
}
.active_button {
  background-color: #00BFFF;
}

.center {
  display: grid;
  place-items: center;
  width: 100%;
}

.arrow {
  border: solid black;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 12px;
  margin-top: -40px;
  margin-bottom: 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
