
  ###start-memo###
  

Group 16: Card=1 (Max=1, Min=0)

   2 PhyOp_Filter 15.2 4.0  Cost(RowGoal 0,ReW 0.173722,ReB 1229.03,Dist 1053.09,Total 1230.2)= 2.45874 (Distance = 2)


   1 PhyOp_Filter 15.1 4.0  Cost(RowGoal 0,ReW 177.119,ReB 1052.09,Dist 1053.09,Total 1230.2 s)= 2.45734 (Distance = 2)


   0 LogOp_SelectRes 15 4 (Distance = 1)



Group 15: Card=1 (Max=1, Min=0)

   2 PhyOp_Range 1 ASC  7.0  Cost(RowGoal 0,ReW 0.173722,ReB 1229.03,Dist 1053.09,Total 1230.2)= 2.45815 (Distance = 2)


   1 PhyOp_Range 1 ASC  7.0  Cost(RowGoal 0,ReW 177.119,ReB 1052.09,Dist 1053.09,Total 1230.2 s)= 2.45675 (Distance = 2)


   0 LogOp_SelectIdx 13 7 (Distance = 1)



Group 14: Card=1.00001e+06 (Max=1.10001e+06, Min=0)

   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.01 (Distance = 2)


   1 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.927 (Distance = 2)


   0 LogOp_GetIdx (Distance = 1)



Group 13: Card=10004 (Max=11004.4, Min=0)

   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.06499 (Distance = 2)


   1 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07429 (Distance = 2)


   0 LogOp_GetIdx (Distance = 1)



Root Group 12: Card=3.37031 (Max=1.10001e+06, Min=0)

   11 PhyOp_MergeJoin 1-M x_jtInner 11.11 9.16 7.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.256 (Distance = 2)


   2 PhyOp_HashJoinx_jtInner 11.2 9.2 7.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 108.512 (Distance = 2)


   1 LogOp_Join 11 9 7 (Distance = 1)


   0 LogOp_Join 9 11 7 (Distance = 0)



Group 11: Card=11.6599 (Max=11004.4, Min=0)

   11 PhyOp_Filter 10.4 4.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09434 (Distance = 1)


   9 PhyOp_Filter 10.4 4.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09429 (Distance = 1)


   6 PhyOp_Filter 10.4 4.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09434 (Distance = 1)


   4 PhyOp_Filter 10.4 4.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09429 (Distance = 1)


   2 PhyOp_Filter 10.2 4.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07909 (Distance = 1)


   0 LogOp_Select 10 4 (Distance = 0)



Group 10: Card=10004 (Max=11004.4, Min=0)

   4 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.06499 (Distance = 1)


   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07429 (Distance = 1)


   0 LogOp_Get (Distance = 0)



Group 9: Card=1230.2 (Max=1.10001e+06, Min=0)

   16 PhyOp_Sort 9.6  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.132 (Distance = 0)


   14 PhyOp_Filter 8.6 2.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.127 (Distance = 1)


   12 PhyOp_Sort 9.14  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.132 (Distance = 0)


   10 PhyOp_Filter 8.6 2.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.09 (Distance = 1)


   8 PhyOp_Sort 9.10  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.095 (Distance = 0)


   6 PhyOp_Filter 8.6 2.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.127 (Distance = 1)


   4 PhyOp_Sort 9.2  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.438 (Distance = 0)


   2 PhyOp_Filter 8.2 2.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.407 (Distance = 1)


   0 LogOp_Select 8 2 (Distance = 0)



Group 8: Card=1.00001e+06 (Max=1.10001e+06, Min=0)

   6 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.01 (Distance = 1)


   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.927 (Distance = 1)


   0 LogOp_Get (Distance = 0)



Group 7: 
   0 ScaOp_Comp  5.0 6.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 6: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 5: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 4: 
   0 ScaOp_Comp  3.0 1.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 3: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 2: 
   0 ScaOp_Comp  0.0 1.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 1: 
   0 ScaOp_Const   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 0: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



----------------------------


(4 rows affected)

Completion time: 2021-02-22T15:52:54.2144138+01:00
  ###end-memo###
  ###start-tree###
    
*** Output Tree: ***

        PhyOp_MergeJoin x_jtInner 1-M ( QCOL: [benchmark].[dbo].[B].id) = ( QCOL: [a1].fkb)

            Exchange Partition Order[SSTABLE:QCOL: [benchmark].[dbo].[B].id TI(int,ML=4) ASC]

                id TI(int,ML=4)

            PhyOp_Filter

                PhyOp_Range TBL: B(1) ASC  Bmk ( QCOL: [benchmark].[dbo].[B].id) IsRow: COL: IsBaseRow1001 

                ScaOp_Comp x_cmpEq

                    ScaOp_Identifier QCOL: [benchmark].[dbo].[B].search

                    ScaOp_Const TI(int,ML=4) XVAR(int,Not Owned,Value=1)

            PhyOp_Sort +s -d QCOL: [a1].fkb

                Exchange Partition

                    fkb TI(int,ML=4)

                PhyOp_Filter

                    PhyOp_Range TBL: A(alias TBL: a1)(1) ASC  Bmk ( QCOL: [a1].id) IsRow: COL: IsBaseRow1000 

                    ScaOp_Comp x_cmpEq

                        ScaOp_Identifier QCOL: [a1].search

                        ScaOp_Const TI(int,ML=4) XVAR(int,Not Owned,Value=1)

            ScaOp_Comp x_cmpEq

                ScaOp_Identifier QCOL: [benchmark].[dbo].[B].id

                ScaOp_Identifier QCOL: [a1].fkb

********************

** Query marked as Cachable

********************

** Query cachability updated to FALSE

********************


(4 rows affected)

Completion time: 2021-02-22T15:53:09.3073544+01:00
  ###end-tree###
