
  ###start-memo###
        --- Final Memo Structure ---

Group 19: Card=11.6599 (Max=11004.4, Min=0)

   1 PhyOp_Spool 12.2  Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 1.21469 (Distance = 2)


   0 LogOp_Spool 12 (Distance = 1)



Group 18: Card=1 (Max=1, Min=0)

   2 PhyOp_Filter 17.2 3.0  Cost(RowGoal 0,ReW 0.173722,ReB 1229.03,Dist 1053.09,Total 1230.2)= 2.45874 (Distance = 2)


   1 PhyOp_Filter 17.1 3.0  Cost(RowGoal 0,ReW 177.119,ReB 1052.09,Dist 1053.09,Total 1230.2 s)= 2.45734 (Distance = 2)


   0 LogOp_SelectRes 17 3 (Distance = 1)



Group 17: Card=1 (Max=1, Min=0)

   2 PhyOp_Range 1 ASC  6.0  Cost(RowGoal 0,ReW 0.173722,ReB 1229.03,Dist 1053.09,Total 1230.2)= 2.45815 (Distance = 2)


   1 PhyOp_Range 1 ASC  6.0  Cost(RowGoal 0,ReW 177.119,ReB 1052.09,Dist 1053.09,Total 1230.2 s)= 2.45675 (Distance = 2)


   0 LogOp_SelectIdx 15 6 (Distance = 1)



Group 16: Card=1.00001e+06 (Max=1.10001e+06, Min=0)

   1 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.927 (Distance = 2)


   0 LogOp_GetIdx (Distance = 1)



Group 15: Card=10004 (Max=11004.4, Min=0)

   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 14.7939 (Distance = 2)


   1 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07429 (Distance = 2)


   0 LogOp_GetIdx (Distance = 1)



Group 14: Card=3.37031 (Max=1.10001e+06, Min=0)

   2 PhyOp_HashJoinx_jtInner 12.2 10.2 6.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 108.512 (Distance = 3)


   1 LogOp_Join 12 10 6 (Distance = 2)


   0 LogOp_Join 10 12 6 (Distance = 1)



Root Group 13: Card=3.37096 (Max=1.10001e+06, Min=0)

   10 PhyOp_RestrRemap 14.2  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 108.512 (Distance = 2)


   2 LogOp_RightSemiJoin 12 10 6 (Distance = 1)


   1 LogOp_RestrRemap 14 (Distance = 1)


   0 LogOp_LeftSemiJoin 10 12 6 (Distance = 0)



Group 12: Card=11.6599 (Max=11004.4, Min=0)

   4 PhyOp_Filter 11.3 3.0  Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 20.6048 (Distance = 1)


   2 PhyOp_Filter 11.2 3.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07909 (Distance = 1)


   0 LogOp_Select 11 3 (Distance = 0)



Group 11: Card=10004 (Max=11004.4, Min=0)

   3 PhyOp_TableScan  Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 14.6974 (Distance = 1)


   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07429 (Distance = 1)


   0 LogOp_Get (Distance = 0)



Group 10: Card=1230.2 (Max=1.10001e+06, Min=0)

   4 PhyOp_Sort 10.2  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.438 (Distance = 0)


   2 PhyOp_Filter 9.2 8.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.407 (Distance = 1)


   0 LogOp_Select 9 8 (Distance = 0)



Group 9: Card=1.00001e+06 (Max=1.10001e+06, Min=0)

   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.927 (Distance = 1)


   0 LogOp_Get (Distance = 0)



Group 8: 
   0 ScaOp_Comp  7.0 0.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 7: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 6: 
   0 ScaOp_Comp  4.0 5.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 5: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 4: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 3: 
   0 ScaOp_Comp  2.0 0.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 2: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 1: 
   0 AncOp_PrjEl  0 (Distance = 0)



Group 0: 
   0 ScaOp_Const   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



----------------------------

--- Final Memo Structure ---

Group 19: Card=11.6599 (Max=11004.4, Min=0)

   1 PhyOp_Spool 12.2  Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 1.21469 (Distance = 2)


   0 LogOp_Spool 12 (Distance = 1)



Group 18: Card=1 (Max=1, Min=0)

   2 PhyOp_Filter 17.2 3.0  Cost(RowGoal 0,ReW 0.173722,ReB 1229.03,Dist 1053.09,Total 1230.2)= 2.45874 (Distance = 2)


   1 PhyOp_Filter 17.1 3.0  Cost(RowGoal 0,ReW 177.119,ReB 1052.09,Dist 1053.09,Total 1230.2 s)= 2.45734 (Distance = 2)


   0 LogOp_SelectRes 17 3 (Distance = 1)



Group 17: Card=1 (Max=1, Min=0)

   2 PhyOp_Range 1 ASC  6.0  Cost(RowGoal 0,ReW 0.173722,ReB 1229.03,Dist 1053.09,Total 1230.2)= 2.45815 (Distance = 2)


   1 PhyOp_Range 1 ASC  6.0  Cost(RowGoal 0,ReW 177.119,ReB 1052.09,Dist 1053.09,Total 1230.2 s)= 2.45675 (Distance = 2)


   0 LogOp_SelectIdx 15 6 (Distance = 1)



Group 16: Card=1.00001e+06 (Max=1.10001e+06, Min=0)

   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.01 (Distance = 2)


   1 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.927 (Distance = 2)


   0 LogOp_GetIdx (Distance = 1)



Group 15: Card=10004 (Max=11004.4, Min=0)

   3 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.06499 (Distance = 2)


   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 14.7939 (Distance = 2)


   1 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07429 (Distance = 2)


   0 LogOp_GetIdx (Distance = 1)



Group 14: Card=3.37031 (Max=1.10001e+06, Min=0)

   11 PhyOp_MergeJoin 1-M x_jtInner 12.10 10.14 6.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.256 (Distance = 3)


   2 PhyOp_HashJoinx_jtInner 12.2 10.2 6.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 108.512 (Distance = 3)


   1 LogOp_Join 12 10 6 (Distance = 2)


   0 LogOp_Join 10 12 6 (Distance = 1)



Root Group 13: Card=3.37096 (Max=1.10001e+06, Min=0)

   20 PhyOp_RestrRemap 14.11  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.256 (Distance = 2)


   10 PhyOp_RestrRemap 14.2  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 108.512 (Distance = 2)


   2 LogOp_RightSemiJoin 12 10 6 (Distance = 1)


   1 LogOp_RestrRemap 14 (Distance = 1)


   0 LogOp_LeftSemiJoin 10 12 6 (Distance = 0)



Group 12: Card=11.6599 (Max=11004.4, Min=0)

   13 PhyOp_Filter 11.6 3.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09434 (Distance = 1)


   10 PhyOp_Filter 11.6 3.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09434 (Distance = 1)


   8 PhyOp_Filter 11.6 3.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09429 (Distance = 1)


   6 PhyOp_Filter 11.6 3.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.09429 (Distance = 1)


   4 PhyOp_Filter 11.3 3.0  Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 20.6048 (Distance = 1)


   2 PhyOp_Filter 11.2 3.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07909 (Distance = 1)


   0 LogOp_Select 11 3 (Distance = 0)



Group 11: Card=10004 (Max=11004.4, Min=0)

   6 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.06499 (Distance = 1)


   3 PhyOp_TableScan  Cost(RowGoal 0,ReW 1229.2,ReB 0,Dist 0,Total 0)= 14.6974 (Distance = 1)


   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1.07429 (Distance = 1)


   0 LogOp_Get (Distance = 0)



Group 10: Card=1230.2 (Max=1.10001e+06, Min=0)

   20 PhyOp_Sort 10.8  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.132 (Distance = 0)


   18 PhyOp_Filter 9.6 8.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.127 (Distance = 1)


   14 PhyOp_Sort 10.6  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.132 (Distance = 0)


   12 PhyOp_Filter 9.6 8.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.09 (Distance = 1)


   10 PhyOp_Sort 10.12  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.095 (Distance = 0)


   8 PhyOp_Filter 9.6 8.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.127 (Distance = 1)


   6 PhyOp_Filter 9.6 8.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.127 (Distance = 1)


   4 PhyOp_Sort 10.2  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.438 (Distance = 0)


   2 PhyOp_Filter 9.2 8.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 107.407 (Distance = 1)


   0 LogOp_Select 9 8 (Distance = 0)



Group 9: Card=1.00001e+06 (Max=1.10001e+06, Min=0)

   6 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.01 (Distance = 1)


   2 PhyOp_Range 1 ASC   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 106.927 (Distance = 1)


   0 LogOp_Get (Distance = 0)



Group 8: 
   0 ScaOp_Comp  7.0 0.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 7: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 6: 
   0 ScaOp_Comp  4.0 5.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 5: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 4: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 3: 
   0 ScaOp_Comp  2.0 0.0  Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 3 (Distance = 0)



Group 2: 
   0 ScaOp_Identifier   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



Group 1: 
   0 AncOp_PrjEl  0 (Distance = 0)



Group 0: 
   0 ScaOp_Const   Cost(RowGoal 0,ReW 0,ReB 0,Dist 0,Total 0)= 1 (Distance = 0)



----------------------------


(4 rows affected)

Completion time: 2021-02-22T18:21:52.4135288+01:00
  ###end-memo###
  ###start-tree###
          

*** Output Tree: ***

        PhyOp_RestrRemap

            Exchange Start

            PhyOp_MergeJoin x_jtInner 1-M ( QCOL: [benchmark].[dbo].[B].id) = ( QCOL: [a1].fkb)

                Exchange Partition Order[SSTABLE:QCOL: [benchmark].[dbo].[B].id TI(int,ML=4) ASC]

                    id TI(int,ML=4)

                PhyOp_Filter

                    PhyOp_Range TBL: B(1) ASC  Bmk ( QCOL: [benchmark].[dbo].[B].id) IsRow: COL: IsBaseRow1001 

                    ScaOp_Comp x_cmpEq

                        ScaOp_Identifier QCOL: [benchmark].[dbo].[B].search

                        ScaOp_Const TI(int,ML=4) XVAR(int,Not Owned,Value=1)

                PhyOp_Sort +s -d QCOL: [a1].fkb

                    Exchange Partition

                        fkb TI(int,ML=4)

                    PhyOp_Filter

                        PhyOp_Range TBL: A(alias TBL: a1)(1) ASC  Bmk ( QCOL: [a1].id) IsRow: COL: IsBaseRow1000 

                        ScaOp_Comp x_cmpEq

                            ScaOp_Identifier QCOL: [a1].search

                            ScaOp_Const TI(int,ML=4) XVAR(int,Not Owned,Value=1)

                ScaOp_Comp x_cmpEq

                    ScaOp_Identifier QCOL: [benchmark].[dbo].[B].id

                    ScaOp_Identifier QCOL: [a1].fkb

********************

** Query marked as Cachable

********************

** Query cachability updated to FALSE

********************


(4 rows affected)

Completion time: 2021-02-22T18:21:37.3146205+01:00
  ###end-tree###
